statemachine/i_am_forgetful.json
{
  "Comment": "I am forgetful.",
  "StartAt": "Timer",
  "States": {
    "Timer": {
      "Type": "Wait",
      "SecondsPath": "$.waitSeconds",
      "Next": "ChoiceState"
    },
    "ChoiceState": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.preference",
          "StringEquals": "email",
          "Next": "Email"
        },
        {
          "Variable": "$.preference",
          "StringEquals": "sms",
          "Next": "SMS"
        }
      ],
      "Default": "NoChoice"
    },
    "Email": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "YOUR_LAMBDA_ARN",
        "Payload": {
          "Input.$": "$"
        }
      },
      "Next": "NextState"
    },
    "SMS": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "Message.$": "$.message",
        "PhoneNumber.$": "$.phone"
      },
      "Next": "NextState"
    },
    "NoChoice": {
      "Type": "Fail",
      "Error": "DefaultStateError",
      "Cause": "No Choice Made!"
    },
    "NextState": {
      "Type": "Pass",
      "End": true
    }
  }
}
